In [1]:
import numpy as np
import pandas as pd
import pyarrow.parquet as pq

import sys

from sklearn import datasets, linear_model
from sklearn.preprocessing import FunctionTransformer, StandardScaler

import sklearn as sk
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score, mean_squared_error
from sklearn.compose import ColumnTransformer
import statsmodels.api as sm

import datetime
from dateutil.parser import *

from sklearn.base import TransformerMixin
from sklearn.pipeline import Pipeline

In [2]:
class DummyTransformer(TransformerMixin):

    def __init__(self,day_of_week = True):
        self.dani = day_of_week

    def fit(self, X, y = None):
        return self

    def transform(self, X, y = None):
        day_of_week = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']
        
        if self.dani :
            X.loc[:,'day_of_week'] = X.index.get_level_values('date').day_name()
        return X

In [14]:
tablica = pd.read_parquet("C:/Users/vvrhovec/Veronika/kodovi/radni_folder/parquet/X_prices_stores_amount.parquet")

In [10]:
pipeline = Pipeline([('dani',DummyTransformer())])
tablica = pipeline.fit_transform(tablica)

In [12]:
#tablica = pipeline.transform(tablica)

In [17]:
tablica.head()

                 regular_price  discounted_price  number_of_stores  amount  \
item date
38   2016-01-02            0.1               0.1               439   769.0
     2016-01-03            0.1               0.1               436   100.0
     2016-01-04            0.1               0.1               441   305.0
     2016-01-05            0.1               0.1               441    79.0
     2016-01-06            0.1               0.1               444   344.0

                day_of_week
item date
38   2016-01-02    Saturday
     2016-01-03      Sunday
     2016-01-04      Monday
     2016-01-05     Tuesday
     2016-01-06   Wednesday