In [1]:
import numpy as np
import pandas as pd
import pyarrow.parquet as pq
import seaborn as sns
import matplotlib.pyplot as plt

import sys

from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

import sklearn as sk
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score, mean_squared_error
from sklearn.compose import ColumnTransformer
import statsmodels.api as sm

import datetime
from dateutil.parser import *

In [2]:
X = pd.read_parquet("C:/Users/vvrhovec/Veronika/kodovi/radni_folder/parquet/X.parquet")
X.head()

C:\Users\vvrhovec\AppData\Local\Continuum\miniconda3\envs\okolina\lib\site-packages\pyarrow\pandas_compat.py:708: FutureWarning: .labels was deprecated in version 0.24.0. Use .codes instead.
  labels = getattr(columns, 'labels', None) or [
C:\Users\vvrhovec\AppData\Local\Continuum\miniconda3\envs\okolina\lib\site-packages\pyarrow\pandas_compat.py:735: FutureWarning: the 'labels' keyword is deprecated, use 'codes' instead
  return pd.MultiIndex(levels=new_levels, labels=labels, names=columns.names)
C:\Users\vvrhovec\AppData\Local\Continuum\miniconda3\envs\okolina\lib\site-packages\pyarrow\pandas_compat.py:752: FutureWarning: .labels was deprecated in version 0.24.0. Use .codes instead.
  labels, = index.labels

                 regular_price  discounted_price  number_of_stores  amount  \
item date
38   2016-01-02            0.1               0.1               439   769.0
     2016-01-03            0.1               0.1               436   100.0
     2016-01-04            0.1               0.1               441   305.0
     2016-01-05            0.1               0.1               441    79.0
     2016-01-06            0.1               0.1               444   344.0

                 Monday  Tuesday  Wednesday  Thursday  Friday  Saturday  \
item date
38   2016-01-02       0        0          0         0       0         1
     2016-01-03       0        0          0         0       0         0
     2016-01-04       1        0          0         0       0         0
     2016-01-05       0        1          0         0       0         0
     2016-01-06       0        0          1         0       0         0

                 Sunday  Weekend
item date
38   2016-01-02       0        1
     2016-01-03       1        1
     2016-01-04       0        0
     2016-01-05       0        0
     2016-01-06       0        0

In [3]:
std_scaler = StandardScaler()
lm = linear_model.LinearRegression()

In [4]:
list_of_items = [38,39,40,41,57]

In [5]:
rmse_train = []
rmse_test = []
r2 = []

### Scaling

In the following function we have to provide separate dataframes for train and test data _and_ state the name of the column we want to scale. The function differs test from training data and after the scaler is fitted to train data it transformes both training and test data. <br> <br> **Later:** improve function so it could 
* take only one dataframe as an argument 
* separate data to test and train data
* store that information 
* finally scale columns like it's described

In [6]:
def scaling_columns_seperately(self_train,self_test,col):
    aux_df = self_train[col]
    std_scaler.fit(aux_df.values.reshape(-1,1))
    aux_df = std_scaler.transform(self_train[col].values.reshape(-1,1))
    self_train[col] = aux_df
    
    aux_df = self_test[col]
    aux_df = std_scaler.transform(self_test[col].values.reshape(-1,1))
    self_test[col] = aux_df

<br>Scaling through each column for an _item_ in a for loop. <br> **Note:** self_train and self_test dataframes have same columns.<br> <br>**Later:** improve the loop (make function) so it could iterate over items (28, ..., 57) --> data is taken from df  **X**.

### Handling outliers

-- outliers could be removed or set to a specific value (capping, flooring)<br> -- firstly we will _**remove**_ them

In [7]:
def removing_outliers(self):
    upper_lim = self['amount'].quantile(.95)
    lower_lim = self['amount'].quantile(.05)
    self=self[(self['amount'] < upper_lim) & (self['amount'] > lower_lim)]
    return self

### Separating training and test data

In [8]:
def y_train_test_separation(self):
    aux = self.loc[self.index.get_level_values('date') <= '2018-01-01']
    train = aux['amount']
    
    aux = self.loc[self.index.get_level_values('date') > '2018-01-01']
    test = aux['amount']
    
    return train, test

In [9]:
def X_train_test_separation(self):
    aux = self.loc[self.index.get_level_values('date') <= '2018-01-01']
    train = aux.drop('amount',axis=1)
    
    aux = self.loc[self.index.get_level_values('date') > '2018-01-01']
    test = aux.drop('amount',axis=1)
    
    return train, test

## Item 38

In [15]:
tablica = X.loc[38]

### Data preprocessing

### Removing outliers

In [19]:
tablica = removing_outliers(tablica)

### Separating data into training and test set

In [20]:
tablica_train, tablica_test =  X_train_test_separation(tablica)
y_train, y_test =  y_train_test_separation(tablica)

In [21]:
print (tablica_train.shape, y_train.shape)
print (tablica_test.shape, y_test.shape)

(620, 11) (620,)
(113, 11) (113,)

### Scaling the Dataframe

In [22]:
for column in tablica_train:                               
    scaling_columns_seperately(tablica_train,tablica_test,column)

#### Fitting the model on the data from training set

In [23]:
model = lm.fit(tablica_train, y_train)

In [24]:
y_train_predicted = model.predict(tablica_train)

In [25]:
model.score(tablica_train, y_train)

0.20077726065264678

In [26]:
rmse_38_train = np.sqrt(mean_squared_error(y_train, y_train_predicted))
rmse_train.append(rmse_38_train)

#### Fitting the model on the data from test set

In [27]:
y_test_predicted = model.predict(tablica_test)

In [28]:
r2_score(y_test,y_test_predicted)

0.07663119325345824

In [30]:
rmse_38_test = np.sqrt(mean_squared_error(y_test, y_test_predicted))
rmse_test.append(rmse_38_test)
rmse_38_test

114.81159850039614